---
import Layout from "@/layouts/layout.astro";
import { getTrainings } from "@/api";

import VideoComponent from "@/components/training/video.astro";
import LessonsComponent from "@/components/training/lessons-list.astro";
import LessonContentComponent from "@/components/training/lesson-content.astro";

export async function getStaticPaths() {
  const trainings = await getTrainings();
  return trainings.flatMap((training) =>
    training.lessons.map((lesson) => ({
      params: {
        trainingSlug: training.slug,
        lessonSlug: lesson.slug,
      },
      props: {
        training,
      },
    })),
  );
}

const { training } = Astro.props;
const currentLesson = training.lessons.find(
  (lesson) => lesson.slug === Astro.params.lessonSlug,
);

---

<Layout title={`${training.title} - ${currentLesson?.title}`}>
  <div class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 text-center">{training.title}</h1>

    <div class="grid md:grid-cols-12 gap-6">
      <div class="md:col-span-8">
        <VideoComponent
          videoUrl={currentLesson?.video ?? ""}
          title={currentLesson?.title ?? ""}
        />
      </div>

      <div class="md:col-span-4">
        <LessonsComponent
          lessons={training.lessons}
          trainingSlug={training?.slug}
          currentLessonSlug={currentLesson?.slug ?? ""} 
        />
      </div>
    </div>

    <div
      class="mt-10 bg-white p-6 rounded-2xl shadow-md border border-gray-200"
    >
      <LessonContentComponent content={currentLesson?.content ?? ""} />
    </div>
  </div>
</Layout>